<div class="container">
    <!-- Title -->
    <h2>About Page</h2>
    <br>

    <!-- Members -->
    <p>This was made by the members of Group S12-1 for STADVDB:</p>
    <ul>
        <li>Cayton, Alenna</li>
        <li>Gubat, Angeline</li>
        <li>Pascual, Jeremy</li>
        <li>Pua, Shaun</li>
    </ul>
    <br>

    <!-- Picture of Table -->
    <p>Our Group chose the Yelp Database which contains a total of 6 tables.</p>
    <img src="/DBScreenshot.png">
    <br>
</div>