<div class="container">
    <h2>Queries of Businesses on Yelp</h2>
    <p>The following are 7 queries that use the Yelp Database:</p>

    <!-- 1 TABLE, 2 QUERIES -->
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-primary">
            <b>1 Table, 2 Queries</b>
        </button>
        
        <a href="/table1query1" class="list-group-item list-group-item-action">Query #1 - Hourly Activity Rate</a>
        <a href="/table1query2" class="list-group-item list-group-item-action">Query #2 - Daily Check-In Rate</a>
    </div>

    <!-- 2 TABLES, 2 QUERIES -->
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-primary">
            <b>2 Tables, 2 Queries</b>
        </button>

        <a href="/table2query1"  class="list-group-item list-group-item-action">Query #3 - Business’ Most Check-Ins</a>
        <a href="/table2query2"  class="list-group-item list-group-item-action">Query #4 - Reviews Of A Business</a>
    </div>

    <!-- 3 TABLES, 2 QUERIES -->
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-primary">
            <b>3 Tables, 2 Queries</b>
        </button>

        <a href="/table3query1"  class="list-group-item list-group-item-action">Query #5 - User Ratings of a Business</a>
        <a href="/table3query2"  class="list-group-item list-group-item-action">Query #6 - Tips List of a Day</a>
    </div>

    <!-- 4 TABLES, 1 QUERY -->
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-primary">
            <b>4 Tables, 1 Query</b>
        </button>

        <a href="/table4query"  class="list-group-item list-group-item-action">Query #7 - Category Search</a>
    </div>

</div>
