<div class="container">
    <h2>Queries of Businesses on Yelp</h2>
    <p>The following are 7 queries that use the Yelp Database:</p>

    <!-- 1 TABLE, 2 QUERIES -->
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-primary">
            <b>Queries</b>
        </button>
        
        <a href="/query1" class="list-group-item list-group-item-action">Query #1 - ROLL UP</a>
        <a href="/query2" class="list-group-item list-group-item-action">Query #2 - DRILL DOWN</a>
        <a href="/query3"  class="list-group-item list-group-item-action">Query #3 - SLICE</a>
        <a href="/query4"  class="list-group-item list-group-item-action">Query #4 - DICE</a>
    </div>

    

</div>
