<div class="container">
    <!-- Title -->
      <h2>Total Reviews Of A City Based On Category Open At Select Times</h2>
 
    
    <br>

    <!-- Output -->
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
              <th scope="col">City</th>
              <th scope="col">Total Amnt of Reviews</th>
            </tr>
          </thead>
        <tbody>
            {{#if result}}
              {{#each result}}
                <tr>
                  <td>{{this.city}}</td>
                  <td>{{this.total_reviews}}</td>
                </tr>
                {{/each}}
            {{else}}
              <tr>
                <td>No reviews for found.</td>
              </tr>
            {{/if}}
        </tbody>
    </table>

    <!-- Buttons -->
    <div class="btnGroup">
      <button class="btn btn-outline-info leftbtn" id="again-btn">Enter New Input</button>
      <button class="btn btn-outline-secondary rightbtn" id="home-btn">Back to Home</button>
    </div>
</div>