<div class="container">
  <!-- Title -->
  <h2>Avg Stars For A Business Category Per City (Active)</h2>
   <p>Please input a business category Ex: Shopping</p>

  <!-- Inputs -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Category:</span>
    </div>
    <input id="category" type="text" class="form-control">
  </div>



  <!-- Buttons -->
  <div class="btnGroup">
    <button class="btn btn-outline-info leftbtn" id="btn-enter">Enter</button>
    <button class="btn btn-outline-secondary rightbtn" id="back-btn">Back</button>
  </div>
</div>