<div class="container">
  <!-- Title -->
  <h2>List Of Tips Given On A Specific Date</h2>
  <p>Please enter a valid numeric value for the year ex:2000, a valid numeric value for the month ex:1 (January), and a valid numeriv value for the day ex:30</p>
<br>

  <!-- Input -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Year:</span>
    </div>
    <input id="year-input" type="text" class="form-control">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Month:</span>
    </div>
    <input id="month-input" type="text" class="form-control">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Day:</span>
    </div>
    <input id="day-input" type="text" class="form-control">
  </div>

  <!-- Buttons -->
  <div class="btnGroup">
    <button id="btn-enter" class="btn btn-outline-info leftbtn">Enter</button>
    <button id="back-btn" class="btn btn-outline-secondary rightbtn">Back</button>
  </div>
</div>