<div class="container">
  <!-- Title -->
  <h2>Hourly Activity Rate</h2>
   <p>Please input a time of day from 0-23 where 0 represents 12-12:59am and 23 represents 11-11:59pm</p>

  <!-- Inputs -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Hour:</span>
    </div>
    <input id="checkin-time" type="text" class="form-control">
  </div>



  <!-- Buttons -->
  <div class="btnGroup">
    <button class="btn btn-outline-info leftbtn" id="btn-enter">Enter</button>
    <button class="btn btn-outline-secondary rightbtn" id="back-btn">Back</button>
  </div>
</div>