<div class="container">
    <!-- Title -->
    <h2>Daily Check-In Rate</h2>
    <p>Please input a day of the week in words ex:Monday or monday</p>

    <!-- Inputs -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Day Of Week:</span>
      </div>
      <input id="day_input" type="text" class="form-control">
    </div>

    <!-- Buttons -->
    <div class="btnGroup">
      <button class="btn btn-outline-info leftbtn" id="btn-enter">Enter</button>
      <button class="btn btn-outline-secondary rightbtn" id="back-btn">Back</button>
    </div>
</div>